
.c-flex {
  display: flex;
}

.c-middle {
  align-items: center;
}

.c-baseline {
  align-items: baseline;
}

.c-flex-center {
  justify-content: center;
}

.c-flex-row {
  flex-direction: row;
}

.c-flex-column {
  flex-direction: column;
}

.c-space-between {
  justify-content: space-between;
}

.c-grow {
  flex-grow: 1;
}

.c-space-around {
  justify-content: space-around;
}

.c-flex-start {
  justify-content: flex-start;
}

.c-flex-end {
  justify-content: flex-end;
}

.c-flex-shrink-0 {
  flex-shrink: 0;
}

.c-margin-left {
  margin-left: 15px;
}

.c-full-width {
  width: 100%;
}

.c-half-width {
  width: 50%;
}

.c-full-height {
  height: 100%;
}

.c-margin-remove {
  margin: 0;
}

.c-relative {
  position: relative;
}

.c-absolute {
  position: absolute;
}

