@import 'node_modules/materialize-css/dist/css/materialize.min.css';
@import 'node_modules/pnotify/dist/PNotifyBrightTheme.css';

/* PNotify */
[ui-pnotify].ui-pnotify.custom .ui-pnotify-container {
  background-color: #404040;
  background-image: none;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
}
[ui-pnotify].ui-pnotify.custom {
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  line-height: 1.1;
}
[ui-pnotify].ui-pnotify.custom .ui-pnotify-title,
[ui-pnotify].ui-pnotify.custom .ui-pnotify-text {
  margin-left: 25px;
  color: #FFF;
}
[ui-pnotify].ui-pnotify.custom .ui-pnotify-title {
  font-size: 15px;
}
[ui-pnotify].ui-pnotify.custom .ui-pnotify-icon {
  color: #FFA;
}
/* End PNotify */

/* Gridster */
gridster {
  background: transparent !important;
}

gridster .gridster-column {
  border-left: 1px solid #ffffff50 !important;
  border-right: 1px solid #ffffff50 !important;
}

gridster .gridster-row {
  border-top: 1px solid #ffffff50 !important;
  border-bottom: 1px solid #ffffff50 !important;
}

.gridster-item-resizable-handler {
  //animation-duration: 1s;
  //animation-name: changewidth;
  //animation-iteration-count: infinite;
  //animation-direction: alternate;
  border: 1px dashed white;
}

@keyframes changewidth {
  from {
    border: 2px dashed transparent;
  }

  to {
    border: 2px dashed grey;
  }
}

.gridster-item-resizable-handler.handle-s, .gridster-item-resizable-handler.handle-n {
  height: 5vh !important;
}

.gridster-item-resizable-handler.handle-w, .gridster-item-resizable-handler.handle-e {
  width: 3vw !important;
}

gridster-item {
  background: none !important;
}
/* End Gridster */

/* PickerJS */
.picker-dialog {
  background: none !important;
  border: none !important;
}

.picker-cell+.picker-cell {
  border-left: none !important;
}

.picker-picked {
  color: white;
}

.picker {
  background: transparent;
}
/* End PickerJS */

/* Materialize CSS */
.tabs {
  background-color: transparent;
}

.sidenav {
  background-image: radial-gradient(#2f2f2f, black);
}
/* End Materialize CSS */
