@import '_variables.scss';
@import 'libs.scss';
@import 'custom.scss';
@import 'theme.scss';

html,body {
  font-family: 'Montserrat', sans-serif;
  width:100%;
  height:100%;
  position:fixed;
  //text-shadow: 0px 1px 2px rgba(0,0,0,0.4);

}

[hidden] {
  display: none !important;
}

* {
  outline: none;
  //transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}


// custom slider range
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  //-webkit-appearance: none;
  //border: 1px solid #000000;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  //border-radius: 3px;
  //background: #ffffff;
  //cursor: pointer;
  //margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
