.theme-red {
  .btn, .btn-large, .btn-small, .switch label input[type=checkbox]:checked+.lever:after {
    background: #5885bc;
  }

  .switch label input[type=checkbox]:checked+.lever {
    background: lighten(#5885bc, 20%);
  }
}
