.image {
  height: 100%;
  flex: 1;
  background-size: cover;
  transition: flex 0.5s ease-in-out;
}

.image:hover {
  flex: 5;
}

.image-wrapper {
  margin: 7px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.label {
  position: absolute;
  color: white;
  font-size: 24px;
  width: 100%;
  text-align: center;
  background: rgba(12, 12, 12, 0.3);
}

.bgs {
  flex-wrap: wrap;
}

.color {
  margin: 5px;
  width: 60px;
  height: 60px;
}