<nav> <!-- navbar content here  --> </nav>

<div id="slide-out" class="sidenav">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a href="#look">Vzľad</a></li>
      <li class="tab col s6"><a href="#widgets">Widgety</a></li>
    </ul>
  </div>
  <div id="look" class="col s12 c-margin-left">
    <h6 class="white-text">Pozadie</h6>
    <div class="bgs c-flex">
      <div class="image-wrapper" *ngFor="let image of images; let index = index" (click)="changeBg(image)">
        <div class="image" [ngStyle]="{backgroundImage: 'url('+image.day+')'}"></div>
        <div class="image" [ngStyle]="{backgroundImage: 'url('+image.night+')'}"></div>
        <div class="label">{{image.name}}</div>
      </div>
    </div>
    <h6 class="white-text">Priesvitnosť</h6>
    <p class="range-field">
      <input type="range" min="0" max="1" step="0.01" [(ngModel)]="meta.opacity" (change)="opacityChanged($event)"/>
    </p>
    <h6 class="white-text">Farba</h6>
    <div class="bgs c-flex">
      <div *ngFor="let color of colors; let index = index" (click)="changeColor(color)" class="color" [ngStyle]="{background: 'rgb(' + color + ')'}"></div>
    </div>

  </div>
  <div id="widgets" class="col s12 c-margin-left">
    <h6 class="white-text">Widgety na ploche</h6>
    <div *ngIf="(widgets | async).length">
      <label *ngFor="let widget of widgets | async" class="c-flex">
        <input type="checkbox" [checked]="widget.visible ? 'checked' : ''" (change)="toggleWidget(widget)"/>
        <span class="c-grow">{{widget.component}}</span>
      </label>
    </div>
  </div>
</div>
