<app-widget name="countdown">
  <div class="c-flex c-flex-column c-full-height">
    <div class="c-flex c-baseline c-space-between">
      <span class="card-title">Budík</span>
      <div class="switch">
        <label class="white-text">
          <input type="checkbox" [(ngModel)]="isOn" (change)="isOnChanged($event)">
          <span class="lever"></span>
        </label>
      </div>
    </div>
    <svg *ngIf="started" viewBox="0 0 240 70" xmlns="http://www.w3.org/2000/svg" class="c-grow">
      <text text-anchor="middle" x="120" y="35" dominant-baseline="central" class="time">{{time}}</text>
    </svg>
    <div class="c-grow c-flex c-middle c-flex-column c-flex-center c-flex-shrink-0">
      <div class="animated infinite c-full-width" [ngClass]="{swing: arrived}">
        <input #picker type="text" class="form-control sr-only" (change)="dateChanged($event)">
        <div class="js-mini-picker-container-alarm c-full-width"></div>
      </div>
      <div class="c-flex c-space-around c-full-width grey-text text-lighten-2">
        <span class="">hod</span>
        <div>min</div>
      </div>
    </div>
    <div>
      <a *ngIf="!isOn && !arrived" class="btn waves-effect waves-light c-full-width" (click)="start()">
        <i class="fa fa-check white-text"></i>
      </a>
      <a *ngIf="arrived" class="btn waves-effect waves-light c-full-width" (click)="stop()">
        <i class="fa fa-stop white-text"></i>
      </a>
    </div>
  </div>
</app-widget>
