<app-widget name="shoppingList">
  <div class="c-flex c-baseline">
  <span class="card-title">Nákup</span>
  <button class="waves-effect waves-circle waves-light btn-flat" *ngIf="!isAddItemShown" (click)="showAddItem()">
    <i class="fa fa-plus white-text"></i>
  </button>
  <button *ngIf="isAddItemShown" class="waves-effect waves-circle waves-light btn-flat" (click)="hideAddItem()">
    <i class="fa fa-times white-text"></i>
  </button>
  <div [ngClass]="{bounceIn: isAddItemShown, bounceOut: !isAddItemShown}" class="c-flex c-middle c-margin-left animated fast">
    <div class="inline">
      <input #newItemInput autofocus (keydown.enter)="addItem()" placeholder="Položka" id="shopping_list_new_item" type="text" [(ngModel)]="newItem" class="white-text">
    </div>
    <button class="waves-effect waves-circle waves-light btn-flat animated faster" [ngClass]="{fadeInLeft: newItem, fadeOutLeft: !newItem}" (click)="addItem()">
      <i class="fa fa-check-double white-text"></i>
    </button>
  </div>
</div>
<ul>
  <li *ngFor="let item of shoppingList">
    <label class="c-flex">
      <input type="checkbox" [checked]="item.done ? 'checked' : ''" />
      <span class="white-text c-grow" (click)="toggleItem(item)">{{item.name}}</span>
      <button class="waves-effect waves-circle waves-light btn-flat" (click)="removeItem(item)">
        <i class="fa fa-times white-text"></i>
      </button>
    </label>
  </li>
</ul>
</app-widget>
