<app-widget name="clock">
    <div class="c-flex c-flex-column c-flex-center c-full-height">
        <div>
            <svg viewBox="0 0 240 80" xmlns="http://www.w3.org/2000/svg">
                <text x="120" text-anchor="middle" y="40" dominant-baseline="central" class="time">
                    {{hours}}<tspan class="dots" [ngClass]="{transparent: dots}">:</tspan>{{minutes}}
                </text>
            </svg>
            <svg viewBox="0 0 240 40" xmlns="http://www.w3.org/2000/svg">
                <text x="120" text-anchor="middle" y="20" dominant-baseline="central" class="date">{{date}}</text>
            </svg>
        </div>
    </div>
</app-widget>