.wrapper {
  padding: 5px;
  width: 100%;
  height: 100%;
}
.wrapper:hover {
  .settings {
    //display: block;
  }
}

.content {
  padding: 10px;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.settings {
  display: none;
  position: absolute;
  right: 0;
  color: white;
  z-index: 11;
  top: 0;
}

.settings-wrapper {
  background: #678694;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 30px 15px 0 15px;
  text-align: center;
}

.icon {
  min-width: 32px;
  font-size: 24px;
}

.transparent {
  background-color: transparent !important;
  border: 0;
  box-shadow: none;
}

.card-content {
  overflow: scroll;
}
