<div class="wrapper" #container>
    <div class="content z-depth-2 wrapper c-full-height c-full-width"
         [ngStyle]="{background: 'rgba(' + meta.color + ',' + meta.opacity + ')'}"
         [ngClass]="{transparent: transparent}">
        <div class="card-content white-text c-full-height">
            <a class="settings btn-flat waves-effect waves-light animated faster bounceIn" (click)="toggleSettings()"><i
                    class="fa fa-sliders-h"></i></a>
            <div [ngClass]="{fadeInDown: isSettingsShown, fadeOutUp: !isSettingsShown}"
                 class="settings-wrapper animated faster c-flex-start c-flex c-flex-column">
                <label class="left-align">
                    <input type="checkbox" [checked]="widgetMeta?.square ? 'checked' : ''" (click)="toggleSquare()"/>
                    <span class="white-text">Stvorec</span>
                </label>
                <div class="c-flex c-middle c-flex-start">
                    <i class="fa fa-arrows-alt-h icon"></i>
                    <a class="btn-flat waves-effect waves-light white-text" (click)="decrementWidth()"><i
                            class="fa fa-search-minus"></i></a>
                    <span class="white-text">{{widgetMeta.width}}</span>
                    <a class="btn-flat waves-effect waves-light white-text" (click)="incrementWidth()"><i
                            class="fa fa-search-plus"></i></a>
                </div>
                <div class="c-flex c-middle" *ngIf="!widgetMeta.square">
                    <i class="fa fa-arrows-alt-v icon"></i>
                    <a class="btn-flat waves-effect waves-light white-text" (click)="decrementHeight()"><i
                            class="fa fa-search-minus"></i></a>
                    <span class="white-text">{{widgetMeta.height}}</span>
                    <a class="btn-flat waves-effect waves-light white-text" (click)="incrementHeight()"><i
                            class="fa fa-search-plus"></i></a>
                </div>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>