<gridster [options]="options" [class]="theme">
    <gridster-item *ngFor="let item of widgets" [item]="item">
        <ndc-dynamic [ndcDynamicComponent]="components[item.component]"></ndc-dynamic>
    </gridster-item>
</gridster>

<div class="actions">
    <a class="fullscreen btn-flat waves-effect waves-light white-text" (click)="toggleSidebar()">
        <i class="fa fa-cog"></i>
    </a>
    <a class="fullscreen btn-flat waves-effect waves-light white-text" (click)="toggleFullscreen()">
        <i class="fa fa-expand"></i>
    </a>
    <a class="fullscreen btn-flat waves-effect waves-light white-text" (click)="toggleDraggie()">
        <i *ngIf="!options.draggable.enabled" class="fa fa-arrows-alt"></i>
        <i *ngIf="options.draggable.enabled" class="fa fa-check"></i>
    </a>
</div>
