<app-widget name="actualWeather">
    <div class="c-flex c-flex-column">
        <div class="icon" [style.background]="'url(' + cloudyImage(actualWeather?.clouds.all) + ')'"></div>
        <h4 class="c-margin-remove animate fadeIn text">{{actualWeather?.main.temp}}°C</h4>
        <span class="animate fadeIn text">
            <i class="fa fa-wind"></i>
            {{actualWeather?.wind.speed}}m/s
            <i class="fa fa-tint"></i> {{actualWeather?.main.humidity}}%</span>
        <span class="animate fadeIn text">{{actualWeather?.name}}</span>
    </div>
</app-widget>