<app-widget name="voice" [transparent]="true">
  <div class="c-flex c-middle c-flex-center">
    <!--<div class="conversation">-->
      <!--<div *ngFor="let item of items">{{item}}</div>-->
    <!--</div>-->
    <div class="button-wrapper">
      <button [ngClass]="{'pulse': listening}" class="waves-effect waves-circle waves-light btn-floating btn-large pulse" (click)="listen()">
        <i class="fa fa-microphone"></i>
      </button>
    </div>
  </div>
</app-widget>