.listen {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 32px;
  position: absolute;
}

.conversation {
  width: 100%;
  max-height: 300px;
  overflow: hidden scroll;
  background: white;
  padding: 15px;
  color: #775d86;
}

.no {
  transform: scale(0);
}

.button-wrapper {
  width: 64px;
  height: 64px;
  position: relative;
  margin-top: 15px;
}

app-spinner {
  position: absolute;
}
