/*.spinner {*/
  /*margin: 15px auto 0;*/
  /*width: 70px;*/
  /*text-align: center;*/
/*}*/

/*.spinner > div {*/
  /*width: 18px;*/
  /*height: 18px;*/
  /*background-color: white;*/

  /*border-radius: 100%;*/
  /*display: inline-block;*/
  /*-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;*/
  /*animation: sk-bouncedelay 1.4s infinite ease-in-out both;*/
/*}*/

/*.spinner .bounce1 {*/
  /*-webkit-animation-delay: -0.32s;*/
  /*animation-delay: -0.32s;*/
/*}*/

/*.spinner .bounce2 {*/
  /*-webkit-animation-delay: -0.16s;*/
  /*animation-delay: -0.16s;*/
/*}*/

/*@-webkit-keyframes sk-bouncedelay {*/
  /*0%, 80%, 100% { -webkit-transform: scale(0); background-color: #dfb6e3; }*/
  /*40% { -webkit-transform: scale(1.0); background-color: white; }*/
/*}*/

/*@keyframes sk-bouncedelay {*/
  /*0%, 80%, 100% {*/
    /*-webkit-transform: scale(0);*/
    /*transform: scale(0);*/
  /*; background-color: #dfb6e3;*/
  /*} 40% {*/
      /*-webkit-transform: scale(1.0);*/
      /*transform: scale(1.0);*/
      /*; background-color: white;*/
    /*}*/
/*}*/

.spinner {
  width: 64px;
  height: 64px;
  /*margin: 15px auto;*/
  background-color: white;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}
