<app-widget name="stopwatch">
  <div class="c-flex c-flex-column c-full-height">
    <div class="c-flex c-baseline">
      <span class="card-title">Stopky</span>
    </div>
    <svg viewBox="0 0 240 70" xmlns="http://www.w3.org/2000/svg" class="c-grow">
      <text y="60" class="time">{{time}}</text>
    </svg>
    <div>
      <a *ngIf="!intervalID && !startTime" class="btn waves-effect waves-light c-full-width" (click)="start(true)">
        <i class="fa fa-play white-text"></i>
      </a>
      <a *ngIf="startTime" class="btn waves-effect waves-light c-half-width" (click)="stop()">
        <i class="fa fa-stop white-text"></i>
      </a>
      <a *ngIf="intervalID && startTime" class="btn waves-effect waves-light c-half-width" (click)="pause()">
        <i class="fa fa-pause white-text"></i>
      </a>
      <a *ngIf="!intervalID && startTime" class="btn waves-effect waves-light c-half-width" (click)="start()">
        <i class="fa fa-play white-text"></i>
      </a>
    </div>
  </div>
</app-widget>
