<!--The content below is only a placeholder and can be replaced.-->
<!--<app-bg></app-bg>-->
<!--<div class="c-flex row">-->
  <!--<div class="c-flex c-flex-column col m5">-->
    <!--<div class="widget row-1" (click)="focus(1)" [ngClass]="{expand: focused === 1, small: focused === 2}">-->
      <!--<app-shopping-list></app-shopping-list>-->
    <!--</div>-->
    <!--<div class="widget row-2" (click)="focus(2)" [ngClass]="{expand: focused === 2, small: focused === 1}">-->
      <!--<app-weather></app-weather>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col m2">-->
    <!--<app-voice></app-voice>-->
  <!--</div>-->
  <!--<div class="c-flex c-flex-column col m5">-->
    <!--<div class="widget row-1" (click)="focus(3)" [ngClass]="{expand: focused === 3, small: focused === 4}">-->
      <!--<app-shopping-list></app-shopping-list>-->
    <!--</div>-->
    <!--<div class="widget row-2" (click)="focus(4)" [ngClass]="{expand: focused === 4, small: focused === 3}">-->
      <!--<app-weather></app-weather>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<app-bg></app-bg>
<app-dashboard></app-dashboard>
<app-sidenav></app-sidenav>

<!--<div class="c-flex">-->
  <!--<div class="widget-small">-->
    <!--<app-voice></app-voice>-->
  <!--</div>-->
  <!--<div class="widget column-2">-->
    <!--<app-weather></app-weather>-->
  <!--</div>-->
<!--</div>-->
