.widget {
  height: 49vh;
  -webkit-transition: all 1s;
  transition: all 1s;
  /*position: absolute;*/
  overflow: hidden;
  /*top: 0;*/
}

.small {
  top: 100vh !important;
  height: 0 !important;
}

.widget-small {
  height: 49vh;
}

.expand {
  height: 96vh;
}
.row-1 {
  top: 0;
}

.row-2 {
  top: 50vh;
}

.column-1 {
  left: 0;
}

.column-2 {
  left: 50vw;
}

