.bg {
  background-size: cover !important;
  position: fixed;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(25deg, #16054A, #2f303a);
  margin: 0;
  overflow: hidden;
  //filter: blur(4px);
  transition: all 1s ease-in-out;
}
