<app-widget name="countdown">
  <div class="c-flex c-flex-column c-full-height">
    <div class="c-flex c-baseline">
      <span class="card-title">Časovač</span>
    </div>
    <svg *ngIf="startTime" viewBox="0 0 240 70" xmlns="http://www.w3.org/2000/svg" class="c-grow">
      <text y="60" class="time">{{time}}</text>
    </svg>
    <div class="c-grow c-flex c-middle c-flex-column c-flex-center" [hidden]="startTime">
      <div class="animated infinite c-full-width" [ngClass]="{swing: arrived}">
        <input #picker type="text" class="form-control sr-only" (change)="dateChanged($event)">
        <div class="js-mini-picker-container-countdown c-full-width"></div>
      </div>
      <div class="c-flex c-space-around c-full-width grey-text text-lighten-2 c-flex-shrink-0">
        <div>hod</div>
        <div>min</div>
        <div>sec</div>
      </div>
    </div>
    <div>
      <a *ngIf="!intervalID && !startTime && !arrived" class="btn waves-effect waves-light c-full-width" (click)="start()">
        <i class="fa fa-play white-text"></i>
      </a>
      <a *ngIf="startTime || arrived" class="btn waves-effect waves-light c-half-width" (click)="stop()">
        <i class="fa fa-stop white-text"></i>
      </a>
      <a *ngIf="intervalID && startTime" class="btn waves-effect waves-light c-half-width" (click)="pause()">
        <i class="fa fa-pause white-text"></i>
      </a>
      <a *ngIf="!intervalID && startTime" class="btn waves-effect waves-light c-half-width" (click)="start()">
        <i class="fa fa-play white-text"></i>
      </a>
    </div>
  </div>
</app-widget>
