.icon {
  width: 32px;
  height: 32px;
  background-size: contain !important;
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  transform: translateZ(0);
}

.item {
  min-height: 48px;
  padding-right: 40px;
}