<app-widget name="forecast">
    <ul *ngIf="forecast" class="c-margin-remove">
        <li *ngFor="let item of forecast.list">
            <div class="item c-flex c-relative c-middle">
                <span>{{item?.dt_txt}}&nbsp;</span>
                <span class="c-margin-remove animate fadeIn">{{item?.main.temp}}°C&nbsp;</span>
                <span class="animate fadeIn">
                <i class="fa fa-wind"></i>
                {{item?.wind.speed}}m/s
                <i class="fa fa-tint"></i> {{item?.main.humidity}}%</span>
                <span class="animate fadeIn">{{item?.name}}</span>
                <div class="icon" [style.background]="'url(' + item?.clouds.image + ')'"></div>
            </div>
        </li>
    </ul>

</app-widget>